<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Скоректировать данные танца</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/adminHeader :: adminHeader"></header>
<div class="container mt-5">
    <div th:each="el : ${user}" class="alert alert-info mt-2">
        <h3 th:text="'ID = ' + ${el.id}"/>
        <p th:text="${el.name}"/>
        <p th:text="${el.phoneNumber}"/>
        <p th:text="${el.email}"/>
        <p th:text="${el.login}"/>
        <p th:text="${el.password}"/><br>
        <h1>Изменение данных танцора</h1><br>
        <form action="" method="post">
            <input type="text" name="name" placeholder="Введите имя танцора" th:value="${el.name}" class="form-control"><br>
            <input type="text" name="phoneNumber" placeholder="Введите телефон танцора" th:value="${el.phoneNumber}" class="form-control"><br>
            <input type="text" name="email" placeholder="Введите електронный адресс почты танцора" th:value="${el.email}" class="form-control"><br>
            <input type="text" name="login" placeholder="Логин для доступа" th:value="${el.login}" class="form-control"><br>
            <input type="text" name="password" placeholder="Пароль для доступа" th:value="${el.password}" class="form-control"><br>
            <button type="submit" class="btn btn-success">Изменить данные</button>
        </form>
    </div>
</div>
<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>