<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Наши танцы весь функционал</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/adminHeader :: adminHeader"></header>
<div class="container mt-5">
    <h1>Наши танцы весь функционал</h1>
    <div th:each="el : ${dances}" class="alert alert-info mt-2">
        <h3 th:text="'ID = ' + ${el.id}"/>
        <p th:text="${el.name}"/>
        <p th:text="${el.description}"/>
        <p th:utext="${el.linkToInsert}"/>
        <a th:href="'/admin/dance/delete/' + ${el.id}" class="btn btn-warning">Удалить танец</a>
        <a th:href="'/admin/dance/edit/' + ${el.id}" class="btn btn-warning">Редактировать танец</a>
    </div>
</div>

<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>
