<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Наши танцоры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/adminHeader :: adminHeader"></header>
<div class="container mt-5">
    <h1>Наши Танцоры</h1>
    <div th:each="el : ${users}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="'ID = ' + ${el.id}"/>
        <p th:text="${el.phoneNumber}"/>
        <p th:text="${el.email}"/>
        <p th:text="${el.login}"/>
        <p th:text="${el.password}"/>
        <a th:href="'/admin/user/delete/' + ${el.id}" class="btn btn-warning">Удалить танцора</a>
        <a th:href="'/admin/user/edit/' + ${el.id}" class="btn btn-warning">Редактировать данные танцора</a>
    </div>
</div>

<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>
