<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Скоректировать данные танца</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/adminHeader :: adminHeader"></header>
<div class="container mt-5">
    <div th:each="el : ${dance}" class="alert alert-info mt-2">
        <h3 th:text="'ID = ' + ${el.id}"/>
        <p th:text="${el.name}"/>
        <p th:text="${el.style}"/>
        <p th:text="${el.description}"/>
        <p th:utext="${el.linkToInsert}"/><br>
        <h1>Изменение данных танца</h1><br>
        <form action="" method="post">
            <input type="text" name="name" placeholder="Введите название танца" th:value="${el.name}" class="form-control"><br>
            <input type="text" name="style" placeholder="Введите стиль танца" th:value="${el.style}" class="form-control"><br>
            <input type="text" name="linkToInsert" placeholder="Введите ссылку на танец" th:value="${el.linkToInsert}" class="form-control"><br>
            <input type="text" name="description" placeholder="Кратко опишите танец" th:value="${el.description}" class="form-control"><br>
            <button type="submit" class="btn btn-success">Изменить данные</button>
        </form>
    </div>
</div>
<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>