<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<p th:text="${title}"/>
<header th:insert="blocks/adminHeader :: adminHeader"></header>
<img th:src="@{images/1.jpg}" alt="Фото Лехайм"/>
<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>
