<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Танец</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${dance}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.description}"/>
        <div th:utext="${el.linkToInsert}"></div>
    </div>
</div>

<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>
