<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Наши танцоры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Наши Танцоры</h1>
    <div th:each="str : ${usersNames}" class="alert alert-info mt-2">
        <p th:text="${str}"/>
    </div>
</div>

<div th:insert="blocks/blockquotes :: blockquotes"></div>
</body>
</html>
