<div th:fragment="adminHeader" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Лехайм</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Администратирование</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user">Состав</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/user/add">Добавить танцора</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dance">Наши танцы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/report">Поставить оценку за танец</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dance/add">Добавить танец</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
