<div th:fragment="blockquotes">
    <blockquote class="blockquotes">
        <p class="mb-0">Танцевальное служение состоит из двух составляющих: молитва и физический труд.</p>
        <footer class="blockquote-footer">Руководитель молитвы за Ребе <cite title="Source Title">Влад Кулумбеков</cite></footer>
    </blockquote>
</div>
