<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Главная страница Лехайм</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="user">Состав</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dance">Танцы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user/report">Посмотреть свои оценки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin">Страница Админа</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
